body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

.juGrid{
  background-color: transparent;
}
.juGrid .selected{
  background-color: #345; 
  color: white;
}

.juGrid .juPager select{
  margin: 0 5px;
}

.juGrid .not-active{
    color:rgba(0,0,0,0.2);
}
.juGrid thead .fa{
    width:14px; 
}
.juPager select.form-control{
  display:inline-block;
  width: inherit; 
}
.juPager .search.form-control{
  display:inline-block;
  width: inherit; 
}
.juGrid td .concat{
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: inherit;
}

/* Order Animation*/
.oa{
    background: #fafafa;
    font-family: sans-serif;
    width: 80%;
    padding: 10px;    
}
 .oa h1 {
        font-weight: normal;
      }
.oa .btn {
  display: inline-block;
  cursor: pointer;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .2);
  padding: .5em .8em;
  transition: box-shadow .05s ease-in-out;
  -webkit-transition: box-shadow .05s ease-in-out;
}
.oa .btn:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, .2);
}
.oa .btn:active, .oa .active, .oa .active:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, .2),
              inset 0 0 4px rgba(0, 0, 0, .1);
}
.oa .add {
    float: right;
}
.oa .list {
  position: relative;
}
.oa .row {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  left: 0px;
  margin: .5em 0;
  padding: 1em;
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .2);
  transition: transform .5s ease-in-out, opacity .5s ease-out, left .5s ease-in-out;
  -webkit-transition: transform .5s ease-in-out, opacity .5s ease-out, left .5s ease-in-out;
}
.oa .row div {
  display: inline-block;
  vertical-align: middle;
}
.oa .row > div:nth-child(1) {
  width: 5%;
}
.oa .row > div:nth-child(2) {
  width: 30%;
}
.oa .row > div:nth-child(3) {
  width: 65%;
}
.oa .rm-btn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  color: #C25151;
  width: 1.4em;
  height: 1.4em;
  text-align: center;
  line-height: 1.4em;
  padding: 0;
}
/* end of Order animation */
/*Hero Animation*/
   
    .hero-container .page-container {
          box-shadow: 0 0 1em rgba(0, 0, 0, .5);
          width: 28em;
          min-height: 38em;
          height: 38em;
          position: relative;
        }
     .hero-container .page {
        background: #fff;
        transition: opacity 0.4s ease-in-out,
                    transform 0.4s ease-in-out;
        width: 100%;
        height: 100%;
      }
      .hero-container h2 {
        font-size: 1.1em;
        margin: .2em 0;
      }
      .hero-container .header {
        height: 3.5em;
        background: #1293ea;
        overflow: hidden;
      }
      .hero-container .header-content {
        width: 28em;
        box-sizing: border-box;
        padding: .4em .8em;
        color: #fff;
        display: flex;
        align-items: center;
        position: absolute;
        transition: opacity 0.4s ease-in-out,
                    transform 0.4s ease-in-out;
      }
      .hero-container .header h1 {
        font-weight: normal;
        margin: 0;
        font-size: 1.5em;
        line-height: 1.8em;
      }
      .hero-container .header-title {
        color: #fff;
        font-size: 1.5em;
        line-height: 1.8em;
        transition: transform 0.4s ease-in-out;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .hero-container .header .rank {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 2.7em;
        height: 2.7em;
        margin-right: .5em;
        position: relative;
      }
      .hero-container .header .rank-circle {
        position: absolute;
        background: #fff;
        width: 2.7em;
        height: 2.7em;
        border-radius: 1.35em;
        margin-right: .5em;
        transition: transform 0.4s ease-in-out;
        top: 0;
        left: 0;
      }
      .hero-container .header-rank {
        z-index: 2;
        color: #1293ea;
        font-size: 1.5em;
      }
      .hero-container .header .close-detail {
        line-height: 1.8em;
        cursor: pointer;
        text-align: center;
        width: 1.8em;
        height: 1.8em;
        border-radius: .9em;
        background: rgba(0, 0, 0, .5);
        transition: transform 0.4s ease-in-out;
      }
      .hero-container .hero {
        transition: transform 0.4s ease-in-out,
                    opacity 0.4s ease-in-out;
      }
      .hero-container .page-content {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: calc(100% - 3.5em);
      }
      .hero-container .list {
        position: absolute;
        width: 100%;
        transition: transform 0.4s ease-in-out,
                    opacity 0.4s ease-in-out;
      }
      .hero-container .desc {
        position: absolute;
        transition: transform 0.4s ease-in-out,
                    opacity 0.4s ease-in-out;
        padding: 1em;
      }
      .hero-container .spacer {
        flex: 1;
      }
      .hero-container .row {
        cursor: pointer;
        box-sizing: border-box;
        padding: 1em;
      }
      .hero-container .row:not(:first-child) {
        border-top: 1px solid #eeeeee;
      }
      .hero-container .row div {
        display: inline-block;
      }
      .hero-container .row > div:nth-child(1) {
        text-align: center;
        margin-right: 1em;
        width: 1em;
      }
/*end Hero Animation*/