
.dev-tool{
    width: 250px;
    position: absolute;
    background-color:gray;
    border: thin 1px black; 
    height: 500px;    
    padding-right:10px; 
    top:0px;
    left: 800px;
    font-size: 11px;
    z-index: 999999;
}
.tool-header{
     padding: 4px;
}
.tool-states{
    overflow-y: auto;
   
}
.tool-view{
    padding: 4px;   
}
.tool-view-buttons{
    padding-top: 2px; 
}

.tool-space{
    display: inline-block;
    width: 20px;
}
.selected-action{
    background-color: lightgray;
}

.tool-hideBtn{
    position: relative;
    color: blue;
    float: right;
}